<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.powerenergyhackathon2017">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IndustryScreen" />
        <activity android:name=".HouseHoldScreen" />
        <activity android:name=".EPM_I" />
        <activity android:name=".Usage_I" />
        <activity android:name=".Unitflow_I" />
        <activity android:name=".Bill_I" />
        <activity android:name=".Switch_I"></activity>
    </application>

</manifest>